@mixin table {
  table {
    @include table-row;
    @include table-header;
    @include table-column;
    @include table-column-actions;
    @include table-collapse;
    border-top: 1px solid $color-primary-pastel-02;
    width: 100%;
    .br-check {
      margin: (-($spacer * 2)) 0;
    }
    .br-input {
      display: flex;
      margin: (-($spacer * 2) * 0.5) 0;
    }
  }
}

@mixin table-row {
  tbody {
    tr {
      // Força menu action abrir para cima nas últimas 4 linhas
      &:nth-last-child(-n + 4) {
        .actions {
          .list {
            bottom: 100%;
            top: auto;
          }
        }
      }
      // Força menu action inline abrir pra cima na última linha
      &:nth-last-child(n + 2) {
        .actions {
          &.is-inline {
            .list {
              bottom: auto;
              top: 100%;
            }
          }
        }
      }
      &:hover {
        background: $color-primary-pastel-02;
        th,
        td {
          border-color: $color-primary-lighten-01;
          box-shadow: 0 -1px 0 $color-primary-lighten-01;
          color: $color-secondary-08;
        }
      }
      // Linha marcada
      &.is-active {
        th,
        td {
          background: $color-primary-lighten-01;
          border-color: $color-primary-lighten-01;
          color: $color-secondary-01;
        }
        &:hover {
          background: inherit;
          th,
          td {
            box-shadow: none;
            color: $color-secondary-01;
          }
        }
        .collapse,
        .actions {
          > * {
            color: $color-secondary-01;
          }
        }
        .br-check {
          input[type="checkbox"]:checked + label {
            &::before {
              background: $color-secondary-01;
              border-color: $color-secondary-01;
            }
            &::after {
              border-color: $color-primary-lighten-01;
            }
          }
        }
      }
    }
  }
}

@mixin table-header {
  thead {
    th {
      @include media-breakpoint-up(md) {
        padding-bottom: ($spacer * 2.5);
        padding-top: ($spacer * 2.5);
      }
      @include media-breakpoint-up(lg) {
        padding-bottom: ($spacer * 3);
        padding-top: ($spacer * 3);
      }
      @include media-breakpoint-up(xl) {
        padding-bottom: ($spacer * 4);
        padding-top: ($spacer * 4);
      }
      background: $color-secondary-02;
      color: $color-primary-darken-01;
      font-size: $font-size-base;
    }
  }
}

@mixin table-column {
  th,
  td {
    border-bottom: 1px solid $color-primary-pastel-02;
    color: $color-secondary-06;
    font-size: $font-size-base * 0.875;
    font-weight: 500;
    padding: ($spacer * 2);
    vertical-align: top;
  }
  th {
    font-weight: 700;
  }
}

@mixin table-column-actions {
  .actions {
    display: inline-flex;
    position: relative;
    a,
    button {
      background: transparent;
      border: 0;
      color: $color-primary-default;
      text-decoration: none;
    }
    .trigger {
      margin: (-($spacer * 2)) 0;
      padding: ($spacer * 1.5) ($spacer * 2);
    }
    .list {
      background: $color-secondary-01;
      box-shadow: 0 6px 6px rgba($color-secondary-09, 0.08);
      display: none;
      flex-direction: column;
      min-width: 120px;
      position: absolute;
      right: calc(100% - #{($spacer * 2)});
      top: 100%;
      white-space: nowrap;
      z-index: 1;
      a,
      button {
        @include media-breakpoint-up(md) {
          padding: $spacer ($spacer * 2);
        }
        background: $color-secondary-01;
        border: 0;
        color: $color-secondary-06;
        font-size: $font-size-base;
        font-weight: 500;
        padding: ($spacer * 1.5) ($spacer * 2);
        text-align: left;
        text-decoration: none;
        &:hover {
          background: $color-primary-pastel-02;
          color: $color-primary-lighten-01;
          text-decoration: none;
        }
      }
    }
    &.is-inline {
      .list {
        flex-direction: row-reverse;
        padding: 0 ($spacer * 1.5);
        button {
          color: $color-primary-lighten-01;
        }
      }
    }
    &.is-active {
      .trigger {
        color: $color-primary-lighten-01;
      }
      .list {
        display: flex;
      }
    }
  }
}

@mixin table-collapse {
  .collapse {
    a,
    button {
      background: transparent;
      border: 0;
      color: $color-primary-default;
      text-decoration: none;
    }
  }
}

@mixin table-caption {
  .caption {
    border-bottom: 1px solid $color-primary-pastel-02;
    font-size: $h3-font-size;
    margin-bottom: $spacer;
    padding-bottom: $spacer;
  }
}

@mixin table-row-actions {
  .actions {
    .br-select {
      align-items: center;
      display: flex;
      label {
        margin-right: $spacer;
      }
    }
  }
}

@mixin table-length {
  .length {
    display: flex;
    justify-content: flex-end;
    .br-select {
      align-items: center;
      display: flex;
      label {
        font-weight: 400;
        margin-right: $spacer;
      }
    }
  }
}