@mixin upload($color: v(color-info, $color-info)) {
  @include media-breakpoint-down(sm) {
    background-position: center 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 180px;
    .br-button.is-tertiary {
      &:hover {
        background-color: transparent;
      }
    }
    &:hover {
      border: 1px solid v(color-primary-pastel-02, $color-primary-pastel-02);
      // background: url("https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/upload-fundo.png") center 0 v(color-secondary-01,$color-secondary-01) no-repeat !important;
      cursor: pointer;
    }
  }
  // background: url('https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/upload-fundo.png')
  // 32px 24px v(color-secondary-01, $color-secondary-01) no-repeat;
  border: 1px solid v(color-secondary-01, $color-secondary-01);
  box-shadow: 0 3px 6px v(color-secondary-04, $color-secondary-04);
  margin-bottom: 20px;
  min-height: 248px;
  padding-bottom: 16px;
  padding-left: 360px;
  padding-right: 48px;
  padding-top: 32px;
  &:hover {
    border: 1px solid v(color-primary-pastel-02, $color-primary-pastel-02);
    // background: url("https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/upload-fundo-hover.png") 32px 24px v(color-primary-pastel-02,$color-primary-pastel-02) no-repeat;
    cursor: pointer;
  }
  .upload-header {
    color: v(color-secondary-07, $color-secondary-07);
    font-size: v(font-size-scale-up-03, $font-size-scale-up-03) !important;
    font-weight: v(font-weight-regular, $font-weight-regular) !important;
  }
  .upload-input {
    display: none;
  }
  .upload-info {
    color: v(color-info, $color-info);
    display: block;
    margin: 16px 0;
    padding-left: 40px;
    .fa-info-circle {
      font-size: v(font-size-scale-up-03, $font-size-scale-up-03) !important;
      margin-left: -40px;
      position: absolute;
    }
  }
  .upload-file-list {
    ul {
      padding-left: 0;
    }
    li {
      border-bottom: 1px solid v(color-secondary-04, $color-secondary-04);
      color: v(color-info, $color-info);
      font-size: v(font-size-scale-base, $font-size-scale-base) !important;
      list-style: none;
      padding: 8px 0 8px 8px;
      position: relative;
      width: 100%;
      .del {
        cursor: pointer;
        display: inline;
        line-height: 24px;
        position: absolute;
        right: 8px;
      }
    }
    span {
      display: inline-block;
      overflow: hidden;
      padding-right: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
  .upload-add {
    display: block;
    margin: 30px 0;
    padding-left: 32px;
    color: v(color-info, $color-info);
    cursor: pointer;
    font-weight: v(font-weight-regular, $font-weight-regular);
    .fa-plus {
      font-size: v(font-size-scale-up-01, $font-size-scale-up-01) !important;
      margin-left: -28px;
      margin-top: 0;
      position: relative;
    }
  }
  .upload-size {
    text-align: right;
    visibility: hidden;
  }
}
